<app-navigation></app-navigation>
<main>
  <div class="text">
    <section class="main">
      <h1>Qompass Coaching</h1>
      <p>
        <strong
          >is a feature that provide you with the trainings materials you need
          to improve your skills.</strong
        >
      </p>
    </section>
    <section class="sub">
      <p>
        Podcasts, videos, books or articles. Access over 500+ different accurate
        trainings materials, all in one place and tailored to your job.<br />
        An individual coach is also available for you.
      </p>
    </section>
  </div>
  <div class="cadreImage">
    <img
      src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0df13e2e-0b9f-4692-ac80-740e27a35f32/deo4g5f-05f793a5-1370-40de-a78c-16d27ea13e9e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzBkZjEzZTJlLTBiOWYtNDY5Mi1hYzgwLTc0MGUyN2EzNWYzMlwvZGVvNGc1Zi0wNWY3OTNhNS0xMzcwLTQwZGUtYTc4Yy0xNmQyN2VhMTNlOWUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.u_s5gB2Gnsi0nj_LsenWv4EqSbUH76S-BWyQBGXkFbw"
      alt="..."
    />
  </div>
</main>
